<nav class="navbar navbar-bg navbar-expand-lg navbar-dark p-4">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/experiences">Erfarenheter/Utbildning</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Talanger</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Contact me</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>