<div class="  d-flex align-items-center vh">
   <div class=" square d-flex justify-content-center container align-items-center shadow ">
      <div class=" p-5 text-light ">
        <h1 class="peach-gradient mb-5">Front End Developer</h1>
        <p>Jag heter Falak Murad och är 38 år ung. Jag är uppvuxen i Syrien men sedan 2016 har jag bott i Sverige och i Västerås. 
           Jag är en nyfiken och glad som person då jag alltid vill lära mig nya
           saker. Jag är även en målmedveten person för att jag alltid vill visa
           den bästa sidan av mig själv</p>
      </div>
      <div >
         <img src="../../../assets/person-photo.jpg" alt="photo" class="photo-width">
      </div> 
   </div>
   
</div>

