<div class="container">
   <div class="text-center mt-5">
      <h1>Profile</h1>
      <h2 class="mt-3 text-dark">I'm Front End Developer</h2>
   </div>
   <hr class="my-5">
   <div class="row">
     <div class="col-md-4">
         <h2 class="mb-3">About me</h2>
         <p>
            I am a curious and happy person as I always want to learn new ones
            cases. I am also a determined person because I always want to show the best side of myself
         </p>
     </div>
     <div class="col-md-4" >
      <img src="../../../assets/person-photo.jpg" alt="photo" class="photo-width">
     </div>
     <div class="col-md-4">
        <h2 class="mb-3">Details</h2>
        <h3>Name</h3>
        <p>Falak Murad</p>
        <h3>Age</h3>
        <p>38 years</p>
        <h3>Location</h3>
        <p>Västerås</p>
        <button class="btn bg text-light"><i class="fab fa-linkedin me-1"></i>Follow</button>
     </div> 
   </div>
   
</div>


