.photo-width{
    width:300px;
    
}
.square{
    height: 200px;
    width: 200px;
    background-color: #63a7ce;
}
.vh{
  height: 75vh;  
}
h1,h2{
  color:teal;
  
}
img{
  border-radius: 50%;
}
.bg{
  background-color: teal;
}