<div >
    <h1 class="h-color text-center">Kompetenser</h1> 
    <hr class="my-5">
    <h2 class="h-color">Skills</h2>
    <div class="row">
        <div class="col-md-6">
            <p>Bootstrap FrameWork</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>CSS</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>SASS / SCSS</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>HTML(5)</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Javascript</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Vue</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>React</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Angular</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Adobe XD</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>GIMP</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star text-muted"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>MS Project</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Dreamweaver</p>
        </div>
        <div class="h-color col-md-6">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star "></i>
            <i class="fas fa-star "></i>
        </div>
    </div>
</div>
